<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>User Input</title>
</head>
	<body>
		<h1>User Input</h1>
		<form method="post" th:action="@{./employeeInput/submit}">
			<table>
				<tr>
					<td th:text="'Family Name：'"></td>
					<td><input type="text" class="form-control" id="familyName" name="familyName"/></td>
				</tr>
				<tr>
					<td th:text="'Given Name：'"></td>
					<td><input type="text" id="givenName" name="givenName"/></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-default">Register</button>
		</form>
		<br/>
		<a href="/employeeList" th:href="@{/employeeList}">Back to List</a>
	</body>
</html>