<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div th:include="header"></div>
<title>User Input</title>
<style>
.err { color:red;}
</style>
</head>
	<body>
		<h1>User Input</h1>
		<form method="post" th:action="@{/employeeInput/submit}" th:object="${form}">
			<ul>
        		<li th:each="error : ${#fields.detailedErrors()}"
        			class="err" th:text="${error.message}">
        			<span th:text="${error.message}">Error message</span>
        		</li>
    		</ul>
			<table>
				<tr>
					<td th:text="'Username：'"></td>
					<td><input type="text" class="form-control" id="username" name="username"/></td>
				</tr>
				<tr>
					<td th:text="'Password：'"></td>
					<td><input type="password" class="form-control" id="password" name="password"/></td>
				</tr>
				<tr>
					<td th:text="'Confirm Password：'"></td>
					<td><input type="password" class="form-control" id="confirmPassword" name="confirmPassword"/></td>
				</tr>
				<tr>
					<td th:text="'Role：'"></td>
					<td>
						<select id="role" name="role">
	              		<option value="">---</option>
	              		<option value="admin">admin</option>
	              		<option value="user">user</option>
	            		</select>
					</td>
				</tr>
				<tr>
					<td th:text="'Family Name：'"></td>
					<td><input type="text" class="form-control" id="familyName" name="familyName"/></td>
				</tr>
				<tr>
					<td th:text="'Given Name：'"></td>
					<td><input type="text" id="givenName" name="givenName"/></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-default">Register</button>
		</form>
		<br/>
		<a href="/employeeList" th:href="@{/employeeList}">Back to List</a>
	</body>
</html>