<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Employee List</title>
</head>
<body>
	<h1>Employee Detail</h1>
	<button type="button" th:onClick="'location.href = \'' + @{../employeeEdit?seqNo={id}(id=${employee.seqNo})} + '\''">編集</button>
	<table>
		<tr>
			<td th:text="従業員番号："></td>
			<td th:text="${employee.seqNo}"></td>
		</tr>
		<tr>
			<td th:text="苗字："></td>
			<td th:text="${employee.familyName}"></td>
		</tr>
		<tr>
			<td th:text="名前："></td>
			<td th:text="${employee.givenName}"></td>
		</tr>
	</table>
	<br/>
	<a href="/employeList" th:href="@{/employeeList}">戻る</a>
</body>
</html>