<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div th:include="header"></div>
<title>Employee List</title>
</head>
<body>
	<h1>Employee Detail</h1>
	<button type="button" th:onClick="'location.href = \'' + @{../employeeEdit?seqNo={id}(id=${employee.seqNo})} + '\''">Edit</button>
	<div sec:authorize="hasRole('ADMIN')">
		<form method="post" th:action="@{./employeeDetail/delete}">
			<button type="submit" class="btn btn-default">Delete</button>
			<input type="hidden" name="seqNo" th:value="${employee.seqNo}" />
		</form>
	</div>
	<table>
		<tr>
			<td th:text="'Employee No：'"></td>
			<td th:text="${employee.seqNo}"></td>
		</tr>
		<tr>
			<td th:text="'Family Name：'"></td>
			<td th:text="${employee.familyName}"></td>
		</tr>
		<tr>
			<td th:text="'Given Name：'"></td>
			<td th:text="${employee.givenName}"></td>
		</tr>
	</table>
	<br/>
	<a href="/employeList" th:href="@{/employeeList}">Back to List</a>
</body>
</html>