<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div th:include="header"></div>
<title>User Edit</title>
</head>
	<body>
		<h1>Employee Edit</h1>
		<form method="post" th:action="@{./employeeEdit/submit}">
			<table>
				<tr>
					<td th:text="'Family Name：'"></td>
					<td><input type="text" class="form-control" id="familyName" name="familyName" th:field="${employee.familyName}"/></td>
				</tr>
				<tr>
					<td th:text="'Given Name：'"></td>
					<td><input type="text" id="givenName" name="givenName" th:field="${employee.givenName}"/></td>
				</tr>
			</table>
			<input type="hidden" name="seqNo" th:value="${employee.seqNo}" />
			<button type="submit" class="btn btn-default">Save</button>
		</form>
		<br/>
		<a href="/userList" th:href="@{/employeeDetail(id=${employee.seqNo})}">Back to Detail</a>
	</body>
</html>