<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Employee List</title>
</head>
<body>
	<h1>Employee List</h1>
	<button type="submit" onclick="location.href='../employeeInput'" class="btn btn-default">New</button>
	<table>
		<tr th:each="obj : ${employeeList}">
			<td><a href="/employeeDetail" th:href="@{/employeeDetail(seqNo=${obj.seqNo})}" th:text="${obj.seqNo}"></a></td>
			<td th:text="${obj.familyName}"></td>
			<td th:text="${obj.givenName}"></td>
		</tr>
	</table>
</body>
</html>